{% extends "pages/wrapper3.html" %}
{% block head %}
    <title>Tree</title>
{% endblock %}

{% block bodytag %}
<body>
{% endblock %}

{% block treeactive %} active {% endblock %}

{% block body %}

<form id="prchoice" method="POST" action="">
        {% include "pages/prchoice.html" %}
</form>

{% block alrt %}
{% endblock %}

{% if currentprojid != 0 %}
{% include "pages/tree/tree_tools.html" %}
{% endif %}

<!--form id="TreeForm" method="POST" action="" target="_blank"-->
{% csrf_token %}
<div class="row">

{% for val in lsttree %}


<div class="row w-100 ml-auto align-items-center">
        <div class="col col-xl-9 col-lg-9">
            {% if val.available %}
                <span class="" style="margin-left: {{val.level}}%">{{val.path}}</span>
            {% else %}
                <span class="text-danger" style="margin-left: {{val.level}}%">{{val.path}}</span>
            {% endif %}
        </div>
        <div class="col col-lg-3 col-xl-3">
            <div class="row justify-content-end mr-lg-3 mr-xl-3 align-items-center">
                {% if val.available %}
                    <form id="Editform" method="POST" action="" target="_blank">
                        <button class="btn btn-secondary" id="button{{val.id}}" name="EditButton" value="{{val.path}}">Edit</button>
                        <button class="btn btn-secondary" id="button{{val.id}}" name="DownloadButton" value="{{val.path}}">Download</button>    
                    </form>
                    <form id="deleteform" method="POST" action="">                   
                        <button class="btn btn-danger ml-lg-1 ml-xl-1" id="button{{val.id}}" name="DelButton" value="{{val.id}}">Del</button>
                    </form>
                {% else %}
                    <form id="Editform" method="POST" action="" target="_blank">
                        <button class="btn btn-secondary" id="button{{val.id}}" name="EditButton" value="{{val.path}}" disabled>Edit</button>
                        <button class="btn btn-secondary" id="button{{val.id}}" name="DownloadButton" value="{{val.path}}"disabled>Download</button>    
                    </form>
                    <form id="deleteform" method="POST" action=""> 
                        <button class="btn btn-danger" id="button{{val.id}}" name="DelButtonNot" value="{{val.id}}">Del</button>
                    </form>
                {% endif %}
            </div>
        </div>
</div>

{% endfor %}
</div>

<!--/form-->

{% endblock %}
