{% extends "pages/wrapper3.html" %}
{% block head %}
    <title>Home</title>
{% endblock %}

{% block bodytag %}
<body>
{% endblock %}

{% block homeactive %} active {% endblock %}
            
{% block body%}
<div class="row">
<div class="col">
    </div>
<div class="col-7">
    <div class="container bg-light ">
        <h1 class="text-center">Ansible playbook runner</h1>
        <h4 class="text-center">Author: Synnikov Evgeniy</h3>
        <h6 class="text-center">E-mail: <a href="mailto:syn-ep@inbox.ru">syn-ep@inbox.ru</a></h6>
    </div>
</div>
<div class="col">
      
</div>
</div>
{% endblock %}